*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    background-color: rgb(120, 142, 184);
    text-align: center;
    height: 150px;

}
h1{
    margin: 0;
    padding: 30px;

}
main{
    display: flex;
    flex: row;
}
aside{
    
    min-height: 800px;
    padding: 30px;
    flex:30%;
    background-image: linear-gradient(rgb(93, 219, 250), rgb(145, 147, 149));
}
article{
    display: flex;
    flex-direction: row;
    width: 100%;

}
.column{
    flex: 30%;
    padding: 20px;
    background-image: linear-gradient(lightgrey,darkgrey);
    text-align: center;
    vertical-align: bottom;
}
#asimg{
    padding-top: 200px;
}
.star{
    color: gold;
   
}
p{
    display: inline-block;
    font-size: 150%;
    font-weight: bold;
    padding: 10px;
}
.heart{
    color: red;
    
}
.heartgrey{
    color: gray;
}
span{
    padding: 10px;
}
h2{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 28px;
}
.description{
    padding: 10px;
    margin: 0;
    font-weight: lighter;
    font-size: 18px;
}
#art:hover{
    transform: scale(1.07);
}
.cart{
    background-color: black;
    color: white;
    font-weight: bolder;
    height: 50px;
    width: 100px;
    font-size: 18px;
    margin: 20px;

}
.view{
    background-color:#ccc;
    color: black;
    font-weight: bolder;
    height: 50px;
    width: 100px;
    border: 2px solid black;
    font-size: 18px;
    margin: 20px;
}
footer{
    text-align: center;
    background-color: rgb(120, 142, 184);;
    background-size: cover;
}
button{
    height: 50px;
    width: 100px;
    border: 2px solid black;
    background-color:#ccc;
    font-weight: bolder;
}
button:hover{
    background-color: rgb(110, 157, 243);
    cursor: pointer;
}
.phead{
    margin-top: 20px;
    font-size: 50px;
    font-weight: bolder;
}
#imghead{
    margin-top: 30px;
}